<!--The content below is only a placeholder and can be replaced.-->
<div class="control-section">
  <div id="control_wrapper">
    <input ejs-colorpicker #colorpicker type="color" id="color-picker" locale="es-ES" [value]="colorSeries" (change)="change($event)" />`
  </div>
  <div>
    <ejs-chart id='chartcontainer' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
        [tooltip]='{ enable: true }' [chartArea]='{ border: { width: 1 } }' width='650' height='250' #chart>
        <e-series-collection>
            <e-series [dataSource]='dataA01' type='Line' xName='x' yName='y' name='A01' width=2 [animation]='{ enable: false }' [marker]="marker" [fill]="colorSeries"></e-series>
        </e-series-collection>
    </ejs-chart>
  </div>
</div>

<router-outlet></router-outlet>
