#control_wrapper {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}
.control-section {
    margin: 25px auto;
}

#chartcontainer {
    text-align: center;
}

default-control {
    padding-top: 50px;
    padding-left: 50px;
}
